<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="/square_root/results">
      <label for="square_new">
        Enter a number
      </label>    
      <input id="square_new" type="text" name="user_number" placeholder="What number do you want?">
      <button>
       Calculate square root
      </button>
    </form>
  </div>
</body>
</html>
