<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <form action="/square/results">
        <div class="mb-3">
          <label for="square_new" >Enter a number</label>
          <input id="square_new" class="form-control" type="text" name="user_number" placeholder="What number do you want to calculate?">
        </div>
        <button type="submit" class="btn btn-primary">Calculate square</button>
      </form>
    </div>  
  </div>
</body>
</html>
