* {
  text-align: center;
  justify-content: center;
  margin: auto;
  
}

table {
 border: 3px solid red;
 border-radius: 50px;
}

/*div {
 margin: 10px;
 border: 3px solid red;
 border-radius: 20px;
}*/

.card {
  margin: 40px auto;
  justify-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: red;
}

h1 {
  color: orange;
}
